.header {
	height: 70px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;

	.logo-container {
		height: 100%;
		width: 70px;
		padding: 25px;
	}
	.options {
		width: 60%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		transition: 300ms ease all;
		text-transform: uppercase;
		.name {
			color: #42a5f4;
			margin: 0 40px;
		}
		.option {
			padding: 10px 15px;
			cursor: pointer;

			&:hover {
				transition: 300ms ease all;
				background-color: black;
				color: white;
			}
		}
	}
}
